body {
  max-width: 1000px;
  margin: auto;
  font-family: Georgia, serif;
  background: #f8f6f3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 10px;
  text-decoration: none;
}

.hero {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.hero img {
 
}

.hero .right {
   display: inline-block;
}

.feature {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.feature img {

}


.feature > img {
    width: unset !important;
    height: auto;
}

.photo-frame {
   position: relative;
    background-image: url("images/background.jpg");
    background-repeat: repeat;
    
    /* Make this number bigger or smaller to change the overall size! */
    width: 380px; 

  /* ADD THIS LINE to defeat the Flexbox squishing */
   /* flex-shrink: 0;
    
    padding: 20px;
    display: inline-block;
    box-sizing: border-box; /* Ensures padding doesn't distort the width calculation */
}

.photo-frame img {
   display: block;
    width: 100%;           
    height: auto;          
    
    position: relative;    
    top: -15px;            
    left: -15px;           
    
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
#cv {
    max-width: 900px;
    margin: 60px auto;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.5;
}

.cv-header {
    text-align: center;
    margin-bottom: 40px;
}

#cv h3 {
    text-decoration: underline;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.cv-item {
    display: flex;
    margin-bottom: 18px;
}

.cv-date {
    width: 100px;
    flex-shrink: 0;
}

.cv-text {
    flex: 1;
}
